
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <form method="post" action="/week11/formtest">
        <label for="txtName">Your name:</label>
        <input type="text" id="txtName" name="UserName" />

        <label for="txtAge">Your age:</label>
        <input type="number" id="txtAge" name="UserAge" />

        <button type="submit">Submit</button>
    </form>

     

</body>
</html>
