
@{
    Layout = null;
}

@model week_2.Controllers.HomeController.mainTestModel;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <p>car brand is @Model.carModel.srCarBrand</p><br /> <p>car price is @Model.carModel.irCarPrice</p>
    <p>street @Model.addModel.StreetName</p><br /> <p>zip code  @Model.addModel.ZipCode</p>
</body>
</html>
