
@{
    Layout = null;
}

@model week_2.Models.Cars

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <p>car brand is @Model.srCarBrand</p><br /> <p>car price is @Model.irCarPrice</p> 
</body>
</html>
