
@{
    Layout = null;
}

@model week_6.Models.csWebUser;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Create user</h1>

    <form method="post" asp-controller="Home" asp-action="Index">
        <div>
            <label asp-for="FirstName"></label>
            <br />
            <input asp-for="FirstName" />
            <span asp-validation-for="FirstName" style="color: red;"></span>
        </div>
        <br />
        <div>
            <label asp-for="LastName"></label>
            <br />
            <input asp-for="LastName" />
            <span asp-validation-for="LastName" style="color: red;"></span>
        </div>
        <br />
        <div>
            <label asp-for="MailAddress"></label>
            <br />
            <input asp-for="MailAddress" />
            <span asp-validation-for="MailAddress" style="color: red;"></span>
        </div>
        <br />
        <input type="submit" value="Create" />
    </form>
</body>
</html>
