@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div>Hello, world!</div>
<div>Today is @DateTime.Now.ToString()</div>

<span>
    Iteration number @ViewData["index"]
   <br>
    Movie title @ViewData.Model.srTitle
</span>

