
@{
    Layout = null;
}

@model week_5.Models.Index2

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <div>price : @Model.irPrice</div>
    <div>weight : @Model.irWeight </div>
</body>
</html>
