
@{
    Layout = null;
}

@model week_2.Models.Cars

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bus3</title>
</head>
<body>
    <div style="color:red;">@Model.srCarBrand : @Model.irCarPrice</div>
</body>
</html>
